{% extends 'base.html.twig' %}

{% block page_title %}
	{{ 'Kimai Sync'|trans }}
{% endblock %}
{% block page_subtitle %}
	{{ 'kimai_Sync.subtitle'|trans }}
{% endblock %}

{% block main %}

	<div style="text-align: center; ">
		<p>Ihr persönlicher Sexualbeauftragter,<br>
            TR
        </p>
	</div>

{% endblock %}
