{% extends 'base.html.twig' %}

{% block page_title %}
	{{ 'Kimai Sync'|trans }}
{% endblock %}
{% block page_subtitle %}
	{{ 'kimai_Sync.subtitle'|trans }}
{% endblock %}

{% block main %}

	<p>Ihr persönlicher Sexualbeauftragter, <br>Timo Röder</p>           

{% endblock %}
