{% extends 'base.html.twig' %}

{% block page_title %}
	{{ 'Kimai Sync'|trans }}
{% endblock %}
{% block page_subtitle %}
	{{ 'kimai_Sync.subtitle'|trans }}
{% endblock %}

{% block main %}

    <h1>KimaiSync Konfiguration</h1>
    <p>Status der letzten Synchronisation: <strong>{{ 'Noch nicht ausgeführt' }}</strong></p>

	<div>
		<p>Berreitgestellt von ihrem persönlichen Sexualbeauftragten zum anfassen,<br>
            TR
        </p>
	</div>

{% endblock %}
